*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body { height: 100%;}
body { margin: 0;}

#content { position: relative; width: auto; height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; color: #777;}
article.horizontalScroll { width: 100%; height: 100%; float: left; padding: 4% 2% 2%;}
#presentation, #competences, #projets, #contact { position: relative;}

h1 { margin: 2% auto; font-size: 2em; text-align: center; text-transform: uppercase; color: #555;}
h2 { margin: 1%; font-size: 1.4em; text-align: center}
p { line-height: 20px;}
a { color: #666; font-style: italic; text-decoration: none; transition: color 0.4s ease-in-out;}
a:hover, input[type=submit]:hover { color:#000;}

header { position: fixed; z-index: 9999; width: 100%; padding: 5px; background-color: #fff; text-align: center;}
header a img { display: none;}
header nav ul li { display: inline-block; margin: 5px;}

#presentation { background-color: #8FBCD9;}

#competences { background-color: #A7DDF2;}
#competences h2 { text-align: left;}
#competences .skill div h2 { position: relative; width: 100%; height: 30px; background: url('../img/spriteLogoCompetences.png')no-repeat; line-height: 30px;}
#competences .skill .html h2 { background-position: 50% 0px;}
#competences .skill .html h2:after { position: absolute; content: "85%"; top: 0; right: 0;}
#competences .skill .css h2 { background-position: 50% -29px;}
#competences .skill .css h2:after { position: absolute; content: "70%"; top: 0; right: 0;}
#competences .skill .jq h2 { background-position: 50% -58px;}
#competences .skill .jq h2:after { position: absolute; content: "20%"; top: 0; right: 0;}
#competences .skill .wdp h2 { background-position: 50% -87px;}
#competences .skill .wdp h2:after { position: absolute; content: "30%"; top: 0; right: 0;}
#competences .skill .ps h2 { background-position: 50% -116px;}
#competences .skill .ps h2:after { position: absolute; content: "45%"; top: 0; right: 0;}

#projets { background-color: #E9D8CF;}
#projets figure img { display: none;}

#contact { background: #F2C5BB;}
#contact #mailTo img { display: none;}
#contact #mailTo p a  { padding: 10px 20px; border-radius: 15px; background-color: #fff; font-style: normal; font-weight: bold; text-transform: uppercase;}
#contact .cop { position: absolute; bottom: 5px; right: 10px;}

/*************************************************************
Screen larger 480px
**************************************************************************/

@media screen and (min-width:480px){

    article.horizontalScroll { padding: 1% 1% 1% 140px;}

    h1 { margin: 3%; font-size: 4vw;}
    h2 { margin: 2%; font-size: 3vw;}

    header { width: initial; height: 100%; padding: 20px 10px; background-color: #fff; border-right: 1px solid #ed7174; text-align: left; text-transform: uppercase;}
    header a img { display: block; margin-bottom: 30px;}
    header nav ul li { display: block; margin: 10px 0;}
    header aside { position: absolute; bottom: 20px;}
    header aside a { display: inline-block; width: 30px; height: 30px; background: url('../img/spriteLogoCompetences.png') no-repeat; text-indent: -9999px;}
    header aside a.cv { background-position: 50% -203px;}
    header aside a.twitter { background-position: 50% -145px;}
    header aside a.link { background-position: 50% -174px;}

    #presentation div { width: 60%; margin: 0 auto; text-align: center;}
    #presentation img { display: inline-block;}

    #contact #mailTo { padding: 1% 2%; text-align: center;}
    #contact #mailTo img { display: inline-block; border-radius: 50%; border: 10px solid #fff;}
    #contact #mailTo p { display: inline-block; vertical-align: top; padding: 1%;}
}

/*************************************************************
Screen larger 720px
**************************************************************************/

@media screen and (min-width:720px){

    #presentation:after, #competences:after, #projets:after, #contact:after {  position: absolute; content: ""; top:0; right: 0; width: 40px; height: 100%;}
    #presentation:after { background: url('../img/spriteBordureCategories.png');}

    #competences:after { background: url('../img/spriteBordureCategories.png') 80px top;}
    #competences .skill { width: 80%; margin: 50px auto;}
    #competences .skill div { display: inline-block; height: 80px;}
    #competences .skill div h2 {  margin: 20px 0; text-indent: -9999px;}
    #competences .skill .html { width: 34%; background-color: #f3692b; border-radius: 20px 0 0 20px;}
    #competences .skill .css { width: 28%; background-color: #2ea6da;}
    #competences .skill .jq { width: 8%; background-color: #131b28;}
    #competences .skill .wdp { width: 12%; background-color: #464646;}
    #competences .skill .ps { width: 18%; background-color: #2364ae; border-radius: 0 20px 20px 0;}

    #projets:after { background: url('../img/spriteBordureCategories.png') 40px top;}
    #projets figure img { display: block;}
}