*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body { height: 100%;}
body { margin: 0;}

#content { position: relative; width: auto; height: 100%; font-family: Arial, Helvetica, sans-serif; font-size: 0.8em; color: #777;}
article.horizontalScroll { width: 100%; height: 100%; float: left; padding: 40px 20px;}
#presentation { background: #8FBCD9;}
#competences { background: #A7DDF2;}
#projets { background: #E9D8CF;}
#contact { position: relative; background: #F2C5BB;}

h1 { margin: 20px auto; font-size:1.8em; text-align: center; text-transform: uppercase; color: #555;}
h2 { margin: 10px; font-size:1.4em;}
p { line-height: 20px;}
a { color: #666; font-style: italic; text-decoration: none; transition: color 0.4s ease-in-out;}
a:hover, input[type=submit]:hover { color:#000;}

header { position: fixed; z-index: 9999; width: 100%; padding: 5px; background-color: #fff; text-align: center;}
header a img { display: none;}
header nav ul li { display: inline-block; margin: 5px;}

#competences .skill div h2 { width: 100%; height: 30px; background: url('../img/spriteLogoCompetences.png') no-repeat 50% 0;}
#competences .skill .css h2 { background-position-y: -29px;}
#competences .skill .js h2 { background-position-y: -58px;}
#competences .skill .wdp h2 { background-position-y: -87px;}
#competences .skill .ps h2 { background-position-y: -116px;}

#contact div img { display: none;}
#contact div p a  { padding: 10px 20px; border-radius: 15px; background-color: #fff; font-style: normal; font-weight: bold; text-transform: uppercase;}

/*************************************************************
Screen larger 480px
**************************************************************************/

@media screen and (min-width:480px){

    header { width: initial; height: 100%; padding: 20px 10px; background-color: #fff; border-right: 1px solid #ed7174; text-align: left; text-transform: uppercase;}
    header a img { display: block; margin-bottom: 30px;}
    header nav ul li { display: block; margin: 10px 0;}
    header aside { position: absolute; bottom: 20px;}
    header aside a { display: inline-block; width: 30px; height: 30px; background: url('../img/spriteLogoCompetences.png') no-repeat 50% 0; text-indent: -9999px;}
    header aside a.cv { background-position-y: -203px;}
    header aside a.twitter { background-position-y: -145px;}
    header aside a.link { background-position-y: -174px;}

    article.horizontalScroll { padding: 80px 20px 20px 140px;}

    h1 { font-size:3em;}
    h2 { margin: 30px; font-size:2em;}

    #presentation div { width: 60%; margin: 0 auto; text-align: center;}
    #presentation img { display: inline-block;}

    #competences .skill { width: 60%; margin: 50px auto;}
    #competences .skill div { display: inline-block; height: 80px;}
    #competences .skill div h2 {  margin: 20px 0; text-indent: -9999px;}
    #competences .skill .html { width: 34%; background-color: #f3692b; border-radius: 20px 0 0 20px;}
    #competences .skill .css { width: 28%; background-color: #2ea6da;}
    #competences .skill .js { width: 8%; background-color: #131b28;}
    #competences .skill .wdp { width: 12%; background-color: #464646;}
    #competences .skill .ps { width: 18%; background-color: #2364ae; border-radius: 0 20px 20px 0;}

    #projets figure { display: inline-block; width: 400px; vertical-align: top; margin-right: 20px;}
    #projets figure img { max-width: 100%;}

    #contact div { width: 60%; margin: auto; padding: 20px 40px; border-radius: 15px; background-color: #A7DDF2}
    #contact div img { display: inline-block; border-radius: 50%; border: 10px solid #fff;}
    #contact div p { display: inline-block; vertical-align: top; margin: 30px 20px;}
    #contact .cop { position: absolute; bottom: 5px; right: 10px;}

}